@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
*{
  margin: 0px;
  padding: 0px; 
}
body {
  font-family: 'Roboto', sans-serif;
}
.Menu{
  background-color: rgb(93, 211, 205);
}
.Menu>ul{
  text-align: center;
  background-color: rgb(93, 211, 205);
  padding: 10px 10px ;
}
.Menu>ul:nth-child(1){
  text-align: center;

}
.Menu>ul>li{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 175px;
}
.Menu img{
  height: 100px;
  width:250px;

}
.Menu{
  display:flex;
	width:100%;
  font-size: 25px;
  font-weight:bold;

}
.nav > li {
		float:left;
}
.nav li a  {
	background-color:rgb(93, 211, 205);
	color:rgb(8, 8, 8);
  text-decoration:none;
  padding:20px;
  display:block;	
    	

}
.nav li a:hover{
  background-color:#cff8f5;
  border-radius: 10%;
  
        
}
.barra{
  background-color:rgb(41, 43, 42);
  width: 100%;
  height: 60px;
  top: 10px;
}
.barra h1{
  font-size: 50px;
  text-align: center;
}
div h1{

  background-color: transparent;
  color:#aaa;
  padding:  2px;
  
}
/****************video taquillero********************/

.video-responsive{
  position: relative;
  width: 100%;
  top: 0px;
  background-color:rgb(41, 43, 42);
  left: 0%;
  right: 0%;
  bottom: 0px;
}
.video-responsive>video{
  position: relative;
  width: 100%;
  top: 0%;
  left: 0%;
}

section {
  width: 100%;
  height: 300%;
  background:white;
  background-size: cover;
  text-align: center;
}

 section Li img{
   width: 300px;
   height: 400px;
   border: solid 5px black;
   

}
section li{
  width: 280px;
  height: 380px;
  display: inline-block;
  margin: 20px 90px 50px 30px;
  text-align: center;
  border: solid 10px black;
  position: relative;
}
/**************Destacadas******************/
.destacadas{
  width: 100%;
  height: auto;
  position: relative;
  bottom: 0px;
  
 }
.destacadas section li{
 width: 300px;
 height: 400px;
 display: inline-block;
 margin: 30px 40px 6px 40px;
 text-align: center;
 border: solid 10px black;
 position: relative;
 background-color: black;
 
}
.peli{
  position: absolute;
  left: 0px;
  top: 40px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  float: left;
  overflow: hidden;
  width: 320px;
  height: 420px;
}
.peli>article{
  position: absolute;
  top:0px;
  width: 310px;
  height: 410px;
  background: rgba(50, 51, 51, 0.7);
  transform: scale(0);
  transition-duration: .5s;
  overflow: hidden;


}
.peli:hover>article{
  transform: scale(1);
  transition-duration: .5s;
}
.peli>article>h4{
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(227, 242, 245);
  
}
.peli>article>p{
  text-align: justify;
  padding: 20px 20px;
  margin-top: 15px;
  color: rgb(227, 242, 245);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;

}
.peli>article>a{
  position: absolute;
  left: 130px;
  top: 21pc;
  padding: 5px 10px;
  text-decoration: none;
  background-color: rgba(69, 165, 165, 0);
  color: rgb(227, 242, 245);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10%;
  border: solid 2px rgb(241, 245, 244);

}
.destacadas section li a{
 color: black;
 background-color: transparent;
 text-decoration: none;
 font-size: 15px;
 font-family: 'Yeon Sung', cursive; 
 text-align: center;

}
.destacadas section li h1{
 color: black;
 background-color: transparent;

}
footer {
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

footer li{
  width: 30px;
  height: 30px;
  top: 230px;
  display: inline-block;
  margin: 10px 40px 10px 10px;
  text-align: center;
  position: relative;

}
.redes footer li{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 20px 20px 5px 5px;
    text-align: center;
    position: absolute;
  
}

.barraredes{
  background-color:rgb(41, 43, 42);
  width: 100%;
  height: 250px;
  margin-top: 100px;
  margin-right: 10px;
  text-align: center;
}
.barraredes>div{
  background-color:black;
  width: 100%;
  height: 60px;
  
}
.barraredes h1{
  color: black;
  font-size: 16px;
  padding-top: 100px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;


}

.icono {
  color: #aaa;
  font-size: 40px;
  transition: .4s;
  margin:2px,4px, 2px,4px; 
 
  
  
}
.icono:hover {
  color: rgb(16, 148, 137);
}




/********************page drama********************/

nav:nth-child(3) {
  display: block;
  width: 100%;
  height: 700px; 
  overflow: hidden;
  position: relative;
 }

nav:nth-child(3) > *{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation-name: slide;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  position: absolute;
  }
  .drama>slide {
    left: -100%;
  }
  .drama>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/img/elsecretodesusojos.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/img/elhilodrama.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/img/Logandrama.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/img/lacabañadrama.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/img/titanicdrama.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(6){
    animation-delay: 0;
    background-image: url(../assets/img/megandrama.png);
    background-size: cover;
    background-position: center;
  
  }
  slide p {
  font-family: Comfortaa;
  font-size: 80px;
  text-align: center;
  display:inline-block;
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: transparent;
  }
@keyframes slide {
  0%{ left: 200%; width: 100%;}
  5%{ left: 0%; }
  25%{ left: 0%;}
  30%{ left: -100%; width: 100%;}
  30.0001%{ left: -100%; width: 0%;}
  100%{ left: 100%; width: 0%;}
}

.dos{ 
  width: 100%;
  height: 300%;
  background:white;
  background-size: cover;
  text-align: center;
}

 .dos li img{
   width: 300px;
   height: 400px;
   border: solid 5px black;
   
}
.dos li{
  width: 280px;
  height: 380px;
  display: inline-block;
  margin: 20px 90px 50px 30px;
  text-align: center;
  border: solid 10px black;
  position: relative;


}
 .dos li a{
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
  font-family: fantasy;
  text-align: center;

}
.dos li h1{
  color: black;
  background-color: transparent;


}

/*********************page Comedia**********************/


  .comedia>slide {
   left: -100%;
  }
  .comedia>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/img/conejo,png.jpg);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/img/labatalladelossexos.png);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/img/partoesla.jpeg);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/img/guerradepapas.png);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/img/pajarolocoesla.png);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(6){
    animation-delay: 0;
    background-image: url(../assets/img/suegroesla.jpg);
    background-size: cover;
    background-position: center;
  
  }

/********************page Accion***************/

  .accion>slide {
    left: -100%;
  }
  .accion>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/img/tomesla.jpeg);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/img/elpasajero.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/img/deepbluesea2.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/img/mazerunner.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/img/samsom.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(6){
    animation-delay: 0s;
    background-image: url(../assets/img/estoreciencomienza-png.jpg);
    background-size: cover;
    background-position: center;

}

/*************page Fantasia****************/

  .fantasia>slide {
   left: -100%;
  }

  .fantasia>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/img/labellaslaider2.jpg);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/img/pirats.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/img/latorreoscura.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/img/7deseos.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/img/laformadelagua.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(6){
    animation-delay: 0s;
    background-image: url(../assets/img/valerian.png);
    background-size: cover;
    background-position: center;
  }

/************page Infantil****************/

 .infantil>slide {
  left: -100%;
}
  .infantil>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/img/pitufoshoy2.jpg);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/img/cigueña.png);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/img/villanoslader.png);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/img/ferdiganhoy.jpg);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/img/car3.png);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(6){
    animation-delay: 0s;
    background-image: url(../assets/img/benji.png);
    background-size: cover;
    background-position: center;
 }

 .terror>slide {
  left: -100%;
 }

  /************page Terror**************/
  .terror>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/img/satanic.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/img/lamorgue.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/img/viral.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/img/anabel.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/img/melanie.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(6){
    animation-delay: 0s;
    background-image: url(../assets/img/vivithoy.jpg);
    background-size: cover;
    background-position: center; 
 }
 header{
   width: 100%;
   height: 500px;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
 }

.maria>img{
  position:absolute;
  top: 170px;
  right: 0px;
  bottom: 0px;
  left: 10px;
  overflow: hidden;
  width: 320px;
  height: 450px;
  border-radius: 10%;
}
.hilo>img{
  position:absolute;
  top: 170px;
  right: 0px;
  bottom: 0px;
  left: 10px;
  overflow: hidden;
  width: 320px;
  height: 450px;
  border-radius: 10%;
}
.genero{
  position: absolute;
  top:180px;
  left: 350px;
  font-size: 20px;
  color: rgba black;
}
.genero:hover{
  color: rgb(16, 148, 137);
}
.a{
  position: absolute;
  top:184px;
  left: 430px;
  font-size: 16px;
  font-weight: 100;
  background: rgba black;
}

.Audio{
  position: absolute;
  top:210px;
  left: 350px;
  font-size: 20px;
  color: rgba black;
}
.Audio:hover{
  color: rgb(16, 148, 137);
}
.b{
  position: absolute;
  top:214px;
  left: 430px;
  font-size: 16px;
  font-weight: 100;
  background: rgba black;
}
.Calidad{
  position: absolute;
  top:240px;
  left: 350px;
  font-size: 20px;
  color: rgba black;
}
.Calidad:hover{
  color: rgb(16, 148, 137);
}
.c{
  position: absolute;
  top:244px;
  left: 430px;
  font-size: 16px;
  font-weight: 100;
  background: rgba black;
}
.Director{
  position: absolute;
  top:270px;
  left: 350px;
  font-size: 20px;
  color: rgba black;
}
.Director:hover{
  color: rgb(16, 148, 137);
}
.d{
  position: absolute;
  top:275px;
  left: 430px;
  font-size: 16px;
  font-weight: 100;
  background: rgba black;
}
.Elenco{
  position: absolute;
  top:300px;
  left: 350px;
  font-size: 20px;
  color: rgba black;
}
.Elenco:hover{
  color: rgb(16, 148, 137);
}
.e{
  position: absolute;
  top:304px;
  left: 430px;
  font-size: 16px;
  font-weight: 100;
  color: black;
  margin-right:20px;
  text-align:justify;
  
}
.Sinopsis{
  position: absolute;
  top:360px;
  left: 750px;
  font-size: 50px;
  align-items: center;
  color: rgba black;
}
.Sinopsis:hover{
 color: rgb(16, 148, 137);
}
.resumen{
  position: absolute;
  top:430px;
  left: 350px;
  font-size: 18px;
  margin: auto;
  font-weight: 100;
  margin-right:20px;
  text-align:justify;
  background: rgba black;
  
}
.Titulo{
  position: absolute;
  top:630px;
  left: 680px;
  font-size: 50px;
  align-items: center;
  background: rgba black;
}
.Titulo:hover{
  color: rgb(16, 148, 137);
}

/**************** Trailers*****************/
.videotrailer{
  display: block;
  width: 76%;
  height:auto;
  top: 0px;
  bottom: 30%;
  left: 320px;
  position: relative;
}
.videotrailer>video{
  width: 76%;
  height: auto;
  left: 320px;
  
}

/********Botones pag********************/

aside{
  position: relative;
  width: 200px;
  height: 50px;
  
}
aside>div{
  width: 220px;
  height: 50px;
  position: absolute;
  top:50px;
  border-radius: 5%;
  left: 24%;
  text-align: center;
  Background-color: rgb(16, 148, 137);

}
aside>div a{
  text-decoration: none;
  color: rgb(54, 53, 53);
  font-size: 30px;
  font-weight: bold;
}
aside>div:hover a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

aside>nav{
  width: 220px;
  height: 50px;
  position: absolute;
  top:170px;
  border-radius: 5%;
  left: 24%;
  text-align: center;
  Background-color: rgb(16, 148, 137);
}
aside>nav>a{
  text-decoration: none;
  color: rgb(54, 53, 53);
  font-size: 30px;
  font-weight: bold;  
  
}
aside>nav:hover>a{
  color: white;
}
aside>article{
  width: 220px;
  height: 50px;
  position: absolute;
  top:290px;
  border-radius: 5%;
  left: 24%;
  text-align: center;
  Background-color: rgb(16, 148, 137);
}
aside>article>a{
  text-decoration: none;
  color: rgb(54, 53, 53);
  font-size: 30px;
  font-weight: bold;
  
}
aside>article:hover>a{
  color:white;
}
aside>section{
  width: 220px;
  height: 50px;
  position: absolute;
  top:410px;
  border-radius: 5%;
  left: 24%;
  Background-color: rgb(16, 148, 137);
}
aside>section>a{
  text-decoration: none;
  color: rgb(54, 53, 53);
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: bold; 
} 
aside>section:hover>a{
  color:white;
}

