*{
  margin: 0px;
  padding: 0px;  
}
.Menu{
  background-color: rgb(93, 211, 205);
}
.Menu>ul{
  text-align: center;
  background-color: rgb(93, 211, 205);
  padding: 15px 15px ;
}
.Menu>ul:nth-child(1){
  text-align: center;

}
.Menu>ul>li{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 170px;
  transition: .3s;
}
 .Menu img{
  height: 100px;
  width:250px;

}
  .Menu{
    display:flex;
		margin:auto;
		width:100%;
    font-family: 'Titan One', cursive;
    font-size: 28px;

}
.nav > li {
		float:left;
}
.nav li a  {
		background-color:rgb(93, 211, 205);
		color:rgb(8, 8, 8);
		text-decoration:none;
		padding:10px 10px;
		display:block;		

}
.nav li a:hover{
        background-color:#cff8f5;
}
.barra{
  background-color:rgb(65, 63, 63);
  width: 100%;
  height: 60px;
}
.barra h1{
  font-size: 50px;
  text-align: center;

}
div h1{

  background-color: transparent;
  color: white;
  padding:  2px;
  
}
div h1 i{
 width: 80px;
 height: 30px;


}
section {
  
  width: 100%;
  height: 300%;
  background:white;
  background-size: cover;
  text-align: center;
}

 section Li img{
   width: 280px;
   height: 380px;
   border: solid 5px black;
   
}
section li{
  width: 250px;
  height: 350px;
  display: inline-block;
  margin: 30px 40px 6px 40px;
  text-align: center;
  border: solid 10px black;
  position: relative;


}
section li a{
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
  font-family: fantasy;
  text-align: center;

}
section li h1{
  color: black;
  background-color: transparent;


}

.destacadas section li{
 width: 250px;
 height: 350px;
 display: inline-block;
 margin: 30px 40px 6px 40px;
 text-align: center;
 border: solid 10px black;
 position: relative;


}
.destacadas section li a{
 color: black;
 background-color: transparent;
 text-decoration: none;
 font-size: 15px;
 font-family: fantasy;
 text-align: center;

}
.destacadas section li h1{
 color: black;
 background-color: transparent;

}

footer {
  width: 100%;
  height: 100%;
  background:white;
  background-size: cover;
  text-align: center;
}


footer li img{
  width:80px;
  height: 80px;
  background-color: transparent;
  background: white;

}

footer li{
  width: 120px;
  height: 120px;
  display: inline-block;
  margin: 150px 40px 30px 40px;
  text-align: center;
  background: white;

}

.redes footer li{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 30px 40px 6px 40px;
    text-align: center;
    position: relative;
    background: transparent;
}
/*page drama*/

nav:nth-child(3) {
  display: block;
  width: 100%;
  height: 600px; 
  overflow: hidden;
  position: relative;
 }

nav:nth-child(3) > *{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation-name: slide;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  position: absolute;
  }
  .drama>slide {
    left: -100%;
  }
  .drama>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/elsecretodesusojos.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/elhilodrama.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/Logandrama.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/lacabañadrama.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/titanicdrama.png);
    background-size: cover;
    background-position: center;
  }
  .drama>slide:nth-child(6){
    animation-delay: 0;
    background-image: url(../assets/megandrama.png);
    background-size: cover;
    background-position: center;
  
  }
  slide p {
  font-family: Comfortaa;
  font-size: 80px;
  text-align: center;
  display:inline-block;
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: transparent;
  }
@keyframes slide {
  0%{ left: -100%}
  5%{ left: 0; }
  16%{ left: 0;}
  18%{ left: -100%}
  100%{ left: 100%}
}

/*page Comedia*/


  .comedia>slide {
   left: -100%;
  }
  .comedia>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/conejo,png.jpg);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/labatalladelossexos.png);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/despidovoluntario.png);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/guerradepapas.png);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/pajaroloco.png);
    background-size: cover;
    background-position: center;
  }
  .comedia>slide:nth-child(6){
    animation-delay: 0;
    background-image: url(../assets/unanocheconmisuegro.png);
    background-size: cover;
    background-position: center;
  
  }

/*page Accion*/

  .accion>slide {
    left: -100%;
  }
  .accion>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/escuadronsuicida.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/elpasajero.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/deepbluesea2.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/mazerunner.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/samsom.png);
    background-size: cover;
    background-position: center;
  }
  .accion>slide:nth-child(6){
    animation-delay: 0s;
    background-image: url(../assets/estoreciencomienza-png.jpg);
    background-size: cover;
    background-position: center;
  
  }
slide p {
  font-family: Comfortaa;
  font-size: 80px;
  text-align: center;
  display:inline-block;
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: transparent;

}

/*page Fantasia*/

  .fantasia>slide {
   left: -100%;
  }

  .fantasia>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/labellafantasia.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/pirats.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/latorreoscura.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/7deseos.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/laformadelagua.png);
    background-size: cover;
    background-position: center;
  }
  .fantasia>slide:nth-child(6){
    animation-delay: 0s;
    background-image: url(../assets/valerian.png);
    background-size: cover;
    background-position: center;
  
  }
slide p {
  font-family: Comfortaa;
  font-size: 80px;
  text-align: center;
  display:inline-block;
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: transparent;
}
@keyframes slide {
  0%{ left: 200%; width: 100%;}
  5%{ left: 0%; }
  25%{ left: 0%;}
  30%{ left: -100%; width: 100%;}
  30.0001%{ left: -100%; width: 0%;}
  100%{ left: 100%; width: 0%;}
}

/*page Infantil*/

 .infantil>slide {
  left: -100%;
}
  .infantil>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/jefeenpañales.png);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/cigueña.png);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/villano3.png);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/oleinfantil.png);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/car3.png);
    background-size: cover;
    background-position: center;
  }
  .infantil>slide:nth-child(6){
    animation-delay: 0s;
    background-image: url(../assets/benji.png);
    background-size: cover;
    background-position: center;
  
  }
slide p {
  font-family: Comfortaa;
  font-size: 80px;
  text-align: center;
  display:inline-block;
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: transparent;
 }

 .terror>slide {
  left: -100%;
 }

  /*page Terror*/
  .terror>slide:nth-child(1){
    animation-delay: 10s;
    background-image: url(../assets/satanic.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(2){
    animation-delay: 8s;
    background-image: url(../assets/lamorgue.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(../assets/viral.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(4){
    animation-delay: 4s;
    background-image: url(../assets/anabel.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(5){
    animation-delay: 2s;
    background-image: url(../assets/melanie.jpg);
    background-size: cover;
    background-position: center;
  }
  .terror>slide:nth-child(6){
    animation-delay: 0s;
    background-image: url(../assets/ritual.png);
    background-size: cover;
    background-position: center;
  
  }
slide p {
  font-family: Comfortaa;
  font-size: 80px;
  text-align: center;
  display:inline-block;
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: transparent;
}
.icono {
  color: red;
  font-size: 40px;
  transition: .4s;
}
.icono:hover {
  color: blue;
}